<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Global_Chat_Java</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>LoginForm.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!-- Servlet Declaration -->
  <servlet>
    <servlet-name>UploadVideoServlet</servlet-name>
    <jsp-file>/UploadVideo.jsp</jsp-file>
    <multipart-config>
        <max-file-size>52428800</max-file-size> <!-- 50MB -->
        <max-request-size>104857600</max-request-size> <!-- 100MB -->
        <file-size-threshold>0</file-size-threshold>
    </multipart-config>
</servlet>
<servlet-mapping>
    <servlet-name>UploadVideoServlet</servlet-name>
    <url-pattern>/UploadVideo.jsp</url-pattern>
</servlet-mapping>
  <servlet>
    <servlet-name>UploadAudioServlet</servlet-name>
    <jsp-file>/UploadAudio.jsp</jsp-file>
    <multipart-config>
        <max-file-size>10485760</max-file-size> <!-- 10MB -->
        <max-request-size>20971520</max-request-size> <!-- 20MB -->
        <file-size-threshold>0</file-size-threshold>
    </multipart-config>
</servlet>
<servlet-mapping>
    <servlet-name>UploadAudioServlet</servlet-name>
    <url-pattern>/UploadAudio.jsp</url-pattern>
</servlet-mapping>
  <servlet>
    <servlet-name>ProfileUploadServlet</servlet-name>
    <servlet-class>servlet.ProfileUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadImageServlet</servlet-name>
    <jsp-file>/UploadImage.jsp</jsp-file>
    <multipart-config>
        <!-- 5MB max file size -->
        <max-file-size>5242880</max-file-size>
        <!-- 10MB total request size -->
        <max-request-size>10485760</max-request-size>
        <!-- Store files over 0 bytes on disk -->
        <file-size-threshold>0</file-size-threshold>
    </multipart-config>
</servlet>

<servlet-mapping>
    <servlet-name>UploadImageServlet</servlet-name>
    <url-pattern>/UploadImage.jsp</url-pattern>
</servlet-mapping>

  <!-- Servlet Mapping -->
  <servlet-mapping>
    <servlet-name>ProfileUploadServlet</servlet-name>
    <url-pattern>/ProfileUploadServlet</url-pattern>
  </servlet-mapping>
 
</web-app>